/* Css Til Alt Start */
body{
  margin: 0px;
  font-family: Arial;
  background-image: linear-gradient(90deg, #393a3a, black);
}
main{
  margin-left: 50px;
  margin-right: 50px;
}
  /* Nav bar Start */
.NavBar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr;
  /*background-image: linear-gradient(to top, rgba(255,0,0,0), #FFFDF5);*/
  background-image: linear-gradient(90deg, #393a3a, black);
}
.NavBar>.NavBarKnapper{
  text-align: center;
}
.NavBar>.NavBarKnapper>ul{
  padding: 0px;
}
.NavBar>.NavBarKnapper>ul li{
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size: 23px;
}
.NavBar>.NavBarKnapper>ul li a{
  color: white;
  text-decoration: none;
}
.NavBar>.NavBarKnapper>ul li a:hover{
  border-bottom: 2px solid white;
}
.NavBar .NavBarThemeSelect{
  position: relative;
  background-image: linear-gradient(90deg, #242729, white, white, white, white, white, white, #242729);
}
.NavBar .NavBarThemeSelect p{
  position: absolute;
  top: 50%;
  left: 28px;
  transform: translateY(-50%);
  margin: 0px;
  font-size: 20px;
  color: black;
}
.NavBar .NavBarThemeSelect form{
  position: absolute;
  top: 50%;
  left: 68px;
  transform: translateY(-50%);
}
.NavBar .NavBarThemeSelect form select{
  padding: 10px;
  border-radius: 5px;
}
.NavBar .NavBarThemeSelect form select .mork{
  background-color: black;
  color: white;
}
  /* Nav bar Slutt */
  /* Under Overskrifter Start */
#Første_UnderOverskrift{
  margin-top: 100vh;
}
.UnderOverskrift{
  text-align: center;
  font-size: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  color: white;
}
.UnderOverskrift .Left_Sec,.Right_Sec{
  position: relative;
}
.UnderOverskrift .Left_Sec div{
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 95%;
  height: 1px;
  background-image: linear-gradient(90deg, #393a3a, white);
}
.UnderOverskrift .Right_Sec div{
  position: absolute;
  bottom: 50%;
  transform: translateY(50%);
  width: 95%;
  height: 1px;
  background-image: linear-gradient(90deg, white, black);
}
.UnderOverskrift_2{
  font-size: 20px;
  text-align: center;
  color: white;
}
  /* Under Overskrifter Slutt */
  /* Footer Start */
.Fordeler{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  background-color: #242729;
  color: white;
  margin-top: 30px;
  height: 200px;
}
.Fordeler div{
  position: relative;
  text-align: center;
}
.Fordeler div h4{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.Fordeler div img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid orange;
  border-radius: 50%;
  width: 100px;
  transition: 0.5s;
  background-color: white;
}
.Fordeler div img:hover{
  transform: translate(-50%, -30%);
}
.Fordeler div img:hover ~ h4{
  opacity: 1;
}
.Trademark{
  text-align: center;
}
  /* Fotter Slutt */
/* CSS Til Alt Slutt */

/* CSS Til Hjem Header Start */
  /* Forsidebilde Hjem Start*/
.Hjem_ForsideBilde{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: animate 16s  infinite;
  background-size: cover;
  filter: brightness(40%);
}
@keyframes animate{
  0%, 100%{
    background-image: url(Bilder/Home_Image_1.jpg);
  }
  25%{
    background-image: url(Bilder/Home_Image_2b.jpg);
  }
  50%{
    background-image: url(Bilder/Home_Image_1234.jpg);
  }
  75%{
    background-image: url(Bilder/Home_Image_1.jpg);
  }
}
.Hjem_Forside{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-75%);
  width: 700px;
  transform: translate(-50%, -50%);
  text-align: center;
}
  /* Forsidebilde Hjem Slutt */
  /* Forsidebilde Hjem Tekst&Knapper Start*/
.Hjem_Forside .Hjem_ForsideOverskrift h1{
  font-size: 4em;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}
.Hjem_Forside .Hjem_ForsideOverskrift h3{
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LoggInn_Knapp{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-right: 5px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LagBruker_Knapp{
  color: black;
  background-color: orange;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 20px;
  margin-left: 5px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LoggInn_Knapp:hover{
  color: black;
  background-color: white;
}
.Hjem_Forside .Hjem_ForsideKnapper .LagBruker_Knapp:hover{
  color: black;
  background-color: white;
}
  /* Forsidebilde Hjem Tekst&Knapper Slutt */
/* CSS Til Hjem Header Slutt */
/* CSS Til Hjem Main Start */
  /* Informasjon_Grid Start*/
.Hjem_GridInformasjon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  color: white;
}
.Hjem_GridInformasjon section{
  border: 1px solid white;
  text-align: center;
  position: relative;
  background-image: linear-gradient(90deg, black, #393a3a);
}
.Hjem_GridInformasjon section a{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px;
  width: 200px;
  background-color: orange;
}
.Hjem_GridInformasjon section a:hover{
  background-color: black;
}
.Hjem_GridInformasjon section h3{

}
.Hjem_GridInformasjon .sec_LærOmOss p{
  margin-bottom: 65px;
  margin-left: 20px;
  margin-right: 20px;
  color: white;
}
.Hjem_GridInformasjon .sec_LoggInn{
  border-radius: 25px 0px 0px 0px;
}
.Hjem_GridInformasjon .sec_SeAnmeldelser{
  border-radius: 0px 25px 0px 0px;
}
  /* Informasjon_Grid Slutt */
  /* Produkter_Grid Start */
.Hjem_GridProdukter{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.Hjem_GridProdukter section{
  border: 2px solid black;
  position: relative;
  text-align: center;
}
.Hjem_GridProdukter section img{
  display: block;
  width: 100%;
  filter: brightness(80%);
}
.Hjem_GridProdukter section h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0px;
  color: white;
  z-index: 3;
  font-size: 25px;
  transition: 0.1s;
}
.Hjem_GridProdukter section a{
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 120px;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  background-color: orange;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.Hjem_GridProdukter section:hover img{
  filter: brightness(100%);
}
.Hjem_GridProdukter section:hover h3{
  font-size: 30px;
}
.Hjem_GridProdukter section:hover a{ /* legg til animasjon */
  opacity: 1;
}
.Hjem_GridProdukter section:hover a:hover{ /* fungerer ikke */
  background-color: white;
}
  /* Produkter_Grid Slutt */
  /* Bestselgere_Grid Start */
.Hjem_GridBestselgere{
  display: grid;
  grid-template-columns: 30% 70%
}
.Hjem_GridBestselgere .Bilde{
  border: 2px solid black;
  border-right: 0px;
}
.Hjem_GridBestselgere .Bilde img{
  display: block;
  width: 100%;
}
.Hjem_GridBestselgere .Container{
  border: 2px solid black;
  text-align: center;
}
  /* Bestselgere_Grid Slutt */
/* CSS Til Hjem Main Slutt*/

/* CSS Til Produkter Header Start */
  /* Forsidebilde Produkter Start */
.Produkter_ForsideBilde{
  width: 100%;
}
.Produkter_ForsideBilde img{
  display: block;
  width: 100%;
}
  /* Forsidebilde Produkter Slutt */
  /* Sorter Etter bar Start */
.Produkter_SorteretterBar{
  background-color: #242729;
  padding-top: 10px;
  padding-bottom: 10px;
}
.Produkter_SorteretterBar .Content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}
.Produkter_SorteretterBar .Content div{
  position: relative;
  text-align: center;
}
.Produkter_SorteretterBar .Content div form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Produkter_SorteretterBar .Content div form select{
  width: 200px;
  padding: 15px;
  font-size: 15px;
}
  /* Sorter Etter bar Slutt*/
/* CSS Til Produkter Header Slutt */
/* CSS Til Produkter Main Start */
.mainProdukter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 5px;
  margin-bottom: -26px;
}
.mainProdukter .secProdukter{
  background-color: #f7f7f7;
  filter: brightness(75%);
  position: relative;
  height: 372px;
  transition: filter 0.1s ease-in;
}
.mainProdukter .secProdukter img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 70%;
  margin: 0px;
}
.mainProdukter .secProdukter p{
  position: absolute;
  top: 30px;
  right: 40px;
  transform: rotateZ(20deg);
  font-size: 20px;
}
.mainProdukter .secProdukter a{
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px;
  width: 80px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.mainProdukter .secProdukter:hover{
  filter: brightness(90%);
}
.mainProdukter .secProdukter:hover a{
  opacity: 1;
}
.mainProdukter .secProdukter a:hover{
  opacity: 1;
  background-color: black;
  color: white;
}
.mainProdukter .VenstreSec{
  grid-row: 1 / span 4;
}
.mainProdukter .VenstreSec .stickyBOX{
  position: sticky;
  top: 62px;
  border: 1px solid black;
  height: 89vh;
}
/* CSS Til Produkter Main Slutt */

/* CSS Til OmOss Header Start */
  /* Forsidebilde OmOss Start */
.OmOss_ForsideBilde{
  position: relative;
}
.OmOss_ForsideBilde img{
  display: block;
  width: 100%;
  filter: brightness(90%);
}
.OmOss_ForsideBilde h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
  /* Forsidebilde OmOss Slutt */
/* CSS Til OmOss Header Slutt */
/* CSS Til OmOss Main Start */
  /* OmOss-Tekst Start */
.OO_Tekst_Paragraf{
  column-count: 2;
  column-rule: 1px solid black;
  column-gap: 32px;
  background-image: linear-gradient(90deg, white, #FFFDF5);
  border: 2px solid black;
  border-radius: 50px;
  padding-top: 20px;
  height: 576px;
  width: 100%;
}
.OO_Tekst_Paragraf>p{
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.Første_Paragraf{
  margin-top: 0px;
}
.OO_Tekst_Paragraf>p::first-letter{
  font-size: 48px;
  color: #100011;
  float: left;
  line-height: 1;
  padding-right: 8px;
}
  /* OmOss-Tekst Slutt */
  /* Anmeldelser Start */
.Anmeldelse_Sec{
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px solid black;
  border-radius: 50px 0px 50px 0px;
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(90deg, white, #FFFDF5);
}
.Anmeldelse_Sec .Anmeldelse_RightPart{
  border-left: 2px solid black;
}
.Anmeldelse_Sec .Anmeldelse_RightPart p{
  margin-left: 30px;
  margin-right: 30px;
}
  /* Anmeldelser Slutt */
/* CSS til OmOss Main Slutt */



/* Liste:
  - Underoverskrifter fungerer kun 2 ganger, ikke den siste?
  - Slider på forsidebilde er dårlig. Bruk js?
  Mindreviktig:
  - isteden for hvit bakgrunn på navbar, blur det som kommer bak?
*/
