/* Css Til Alle sider Start */
body{
  margin: 0px;
  font-family: Arial;
  background-image: linear-gradient(90deg, #FFFDF5, white);
}
main{
  margin-left: 50px;
  margin-right: 50px;
}
  /* Nav bar Start */
.NavBar{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  /*background-image: linear-gradient(to top, rgba(255,0,0,0), #FFFDF5);*/
  background-image: linear-gradient(90deg, #FFFDF5, white);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.NavBar .NavBarLogo{
  position: relative;
  margin-left: 20px;
}
.NavBar .NavBarLogo img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}
.NavBar>.NavBarKnapper{
  text-align: center;
}
.NavBar>.NavBarKnapper>ul{
  padding: 0px;
}
.NavBar>.NavBarKnapper>ul li{
  display: inline;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
  font-size: 23px;
}
.NavBar>.NavBarKnapper>ul li a{
  color: black;
  text-decoration: none;
}
.NavBar>.NavBarKnapper>ul li a:hover{
  border-bottom: 2px solid black;
}
.NavBar .NavBarThemeSelect{
  background-image: linear-gradient(90deg, white, #242729, #242729, #242729, #242729, #242729, #242729, white);
  margin-right: 40px;
  display: grid;
  grid-template-columns: 4fr 7fr;
}
.NavBar .NavBarThemeSelect .tekstSec{
  margin-left: 30px;
}
.NavBar .NavBarThemeSelect .formSec{
  margin-right: 30px;
}
.NavBar .NavBarThemeSelect section{
  position: relative;
}
.NavBar .NavBarThemeSelect section p{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  margin: 0px;
  font-size: 20px;
  color: white;
}
.NavBar .NavBarThemeSelect section form{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
}
.NavBar .NavBarThemeSelect section form select{
  padding: 10px;
  border-radius: 5px;
}
.NavBar .NavBarThemeSelect section form select .mork{
  background-color: black;
  color: white;
}
  /* Nav bar Slutt */
  /* Under Overskrifter Start */
.UnderOverskrift{
  text-align: center;
  font-size: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
}
.UnderOverskrift .Left_Sec,.Right_Sec{
  position: relative;
}
.UnderOverskrift .Left_Sec hr{
  position: absolute;
  bottom: 35%;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, white, black);
}
.UnderOverskrift .Right_Sec hr{
  position: absolute;
  bottom: 35%;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(90deg, black, white);
}
.FirstUnderOverskrift{
  transition: 1s;
}
.UnderOverskrift_2{
  font-size: 20px;
  text-align: center;
}
  /* Under Overskrifter Slutt */
  /* Footer Start */
.Fordeler{
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
  background-color: #242729;
  color: white;
  margin-top: 30px;
  height: 200px;
}
.Fordeler div{
  position: relative;
  text-align: center;
}
.Fordeler div h1{
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  font-family: monospace;
  margin-top: 15px;
}
.Fordeler div h4{
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  width: 300px;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}
.Fordeler div img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid orange;
  border-radius: 50%;
  width: 100px;
  transition: 0.5s;
  background-color: white;
}
.Fordeler div img:hover{
  transform: translate(-50%, -30%);
}
.Fordeler div img:hover ~ h4{
  opacity: 1;
}
.Trademark{
  background-color: #242729;
  color: white;
  margin-top: -16px;
  margin-bottom: -16px;
  text-align: center;
  padding: 10px;
}
  /* Fotter Slutt */
/* CSS Til Alle sider Slutt */

/* CSS Til Hjem Header Start */
  /* Forsidebilde Hjem Start*/
.Hjem_ForsideBilde{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  animation: animate 16s  infinite;
  background-size: cover;
  filter: brightness(40%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@keyframes animate{
  0%, 100%{
    background-image: url(Bilder/Home_Image_1.jpg);
  }
  25%{
    background-image: url(Bilder/Home_Image_2b.jpg);
  }
  50%{
    background-image: url(Bilder/Home_Image_1234.jpg);
  }
  75%{
    background-image: url(Bilder/Home_Image_1.jpg);
  }
}
.Hjem_Forside{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-75%);
  width: 700px;
  transform: translate(-50%, -50%);
  text-align: center;
}
  /* Forsidebilde Hjem Slutt */
  /* Forsidebilde Hjem Tekst&Knapper Start*/
.Hjem_Forside .Hjem_ForsideOverskrift h1{
  font-size: 4em;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  margin: 0px;
}
.Hjem_Forside .Hjem_ForsideOverskrift h3{
  font-size: 2em;
  letter-spacing: 2px;
  font-weight: lighter;
  text-transform: capitalize;
  color: white;
  margin-top: -10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LoggInn_Knapp{
  color: white;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 20px;
  margin-right: 5px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LagBruker_Knapp{
  color: black;
  background-color: orange;
  text-decoration: none;
  border: 2px solid white;
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  font-size: 20px;
  margin-left: 5px;
}
.Hjem_Forside .Hjem_ForsideKnapper .LoggInn_Knapp:hover{
  color: black;
  background-color: white;
}
.Hjem_Forside .Hjem_ForsideKnapper .LagBruker_Knapp:hover{
  color: black;
  background-color: white;
}
  /* Forsidebilde Hjem Tekst&Knapper Slutt */
/* CSS Til Hjem Header Slutt */
/* CSS Til Hjem Main Start */
.HjemMain{
  margin-top: 98vh;
}
  /* scrollDownEffektBOX Start */
#scrollDownEffektBOX{
  /*position: relative;*/
  height: 165px;
  margin-bottom: -110px;
  margin-top: -60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
}
#scrollDownEffektBOX section{
  position: relative;
}
#scrollDownEffektBOX section img{
  width: 100px;
  border-radius: 50%;
  margin-top: -110px;
  margin-left: 50%;
  transform: translateX(-50%);
  position: sticky;
  top: 92vh;
  z-index: 20;
  cursor: pointer;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
  /* scrollDownEffektBOX Slutt */
  /* Informasjon_Grid Start*/
.Hjem_GridInformasjon{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  transition: 2s;
}
.HiddenEffekt{
  opacity: 0;
}
.Hjem_GridInformasjon section{
  border: 2px solid black;
  text-align: center;
  position: relative;
  background-image: linear-gradient(90deg, white, #FFFDF5);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: border 0.6s;
}
.Hjem_GridInformasjon section:before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
}
.Hjem_GridInformasjon section h2{
  margin-top: 120px;
  margin-bottom: 0px;
  z-index: 10;
  transition: 0.6s;
  position: inherit;
}
.Hjem_GridInformasjon section p{
  margin-top: 8px;
  margin-bottom: 70px;
  margin-left: 30px;
  margin-right: 30px;
  line-height: 23px;
  z-index: 10;
  transition: 0.6s;
  position: inherit;
}
.Hjem_GridInformasjon section:nth-child(1) p{
  line-height: 30px;
}
.Hjem_GridInformasjon section a{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-decoration: none;
  color: black;
  border: 1px solid black;
  padding: 10px;
  width: 200px;
  z-index: 10;
  transition: 0.6s;
}
.Hjem_GridInformasjon section .LogginnKnapp{
  bottom: 75px;
  background-color: orange;
}
.Hjem_GridInformasjon section .LagbrukerKnapp{
  bottom: 17px;
  background-color: orange;
}
.Hjem_GridInformasjon section:nth-child(2) .LesmerKnapp{
  bottom: 17px;
  background-color: #397fef;
}
.Hjem_GridInformasjon section:nth-child(3) .LesmerKnapp{
  bottom: 17px;
  background-color: pink;
}
.Hjem_GridInformasjon section:nth-child(-n+3) a:hover{
  background-color: white;
  color: black;
}
.Hjem_GridInformasjon section #HoverEffekt{
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 1px solid white;
  box-shadow: 0 0 0 0 white;
  background: orange;
  transition: 1s;
  z-index: 1;
}
.Hjem_GridInformasjon section:nth-child(1):hover #HoverEffekt{
  box-shadow: 0 0 0 490px orange;
}
.Hjem_GridInformasjon section:nth-child(2):hover #HoverEffekt{
  box-shadow: 0 0 0 400px #397fef;
}
.Hjem_GridInformasjon section:nth-child(3):hover #HoverEffekt{
  box-shadow: 0 0 0 400px pink;
}
.Hjem_GridInformasjon section:hover h2{
  color: white;
}
.Hjem_GridInformasjon section:hover p{
  color: white;
}
.Hjem_GridInformasjon section:hover a{
  color: white;
  border: 1px solid white;
}
.Hjem_GridInformasjon section:hover{
  border: 2px solid white;
}
  /* Informasjon_Grid Slutt */
  /* Produkter_Grid Start */
#ContainerForGridProdukter{
  margin-left: -50px;
  margin-right: -50px;
  margin-top: 30px;
  height: 465px;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
#ContainerForGridProdukter section:nth-child(1) .Left_Sec{
  margin-left: 50px;
}
#ContainerForGridProdukter section:nth-child(1) .Right_Sec{
  margin-right: 50px;
}
#ContainerForGridProdukter .UnderOverskrift{
  color: white;
  font-size: 35px;
}
#BackgroundVideo{
  position: absolute;
  top: 0;
  width: 100%;
  height: 465px;
  object-fit: fill;
  z-index: -9;
}
.Hjem_GridProdukter{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-left: 50px;
  margin-right: 50px;
}
.Hjem_GridProdukter section{
  border: 2px solid white;
  position: relative;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Hjem_GridProdukter section img{
  display: block;
  width: 100%;
  filter: brightness(80%);
}
.Hjem_GridProdukter section h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0px;
  color: white;
  z-index: 3;
  font-size: 25px;
  transition: 0.1s;
}
.Hjem_GridProdukter section a{
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 170px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
  background-color: #f7a000;
  opacity: 0;
  transition: opacity 0.1s ease-in;
}
.Hjem_GridProdukter section:hover img{
  filter: brightness(100%);
}
.Hjem_GridProdukter section:hover h3{
  font-size: 30px;
}
.Hjem_GridProdukter section:hover a{
  opacity: 1;
}
.Hjem_GridProdukter section:hover a:hover{
  background-color: white;
  color: black;
}
  /* Produkter_Grid Slutt */
  /* Bestselgere_Grid Start */
.Hjem_GridBestselgere{ /* Big YIKES atm */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border: 2px solid black;
}
.Hjem_GridBestselgere section{
  position: relative;
}
.Hjem_GridBestselgere section img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(80%);
}
.Hjem_GridBestselgere section a{
  display: none;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 170px;
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: 2px solid white;
  text-align: center;
  padding: 13px;
  transition: 0.6s;
}
.Hjem_GridBestselgere section a:hover{
  background-color: white;
  color: black;
}
.Hjem_GridBestselgere section:hover a{
  display: block;
}
.Hjem_GridBestselgere section:hover img{
  width: 450px;
  height: 535px;
  object-fit: cover;
  filter: brightness(100%);
}
  /* Bestselgere_Grid Slutt */
/* CSS Til Hjem Main Slutt*/

/* CSS Til Produkter Header Start */
  /* Forsidebilde Produkter Start */
.Produkter_ForsideBilde{
  width: 100%;
}
.Produkter_ForsideBilde img{
  display: block;
  width: 100%;
}
  /* Forsidebilde Produkter Slutt */
  /* Sorter Etter bar Start */
.Produkter_SorteretterBar{
  background-color: #242729;
  padding-top: 2px;
  padding-bottom: 2px;
}
.Produkter_SorteretterBar .Content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 200px;
  margin-right: 200px;
  color: white;
}
.Produkter_SorteretterBar .Content div{
  position: relative;
  text-align: center;
}
.Produkter_SorteretterBar .Content div form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.Produkter_SorteretterBar .Content div form select{
  width: 200px;
  padding: 15px;
  font-size: 15px;
}
  /* Sorter Etter bar Slutt*/
/* CSS Til Produkter Header Slutt */
/* CSS Til Produkter Main Start */
.mainProdukter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  margin-top: 5px;
  margin-bottom: -26px;
}
.mainProdukter .secProdukter{
  background-color: #f7f7f7;
  filter: brightness(95%);
  position: relative;
  height: 372px;
  transition: filter 0.1s ease-in;
  cursor: pointer;
}
.mainProdukter .secProdukter img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 70%;
  margin: 0px;
}
.mainProdukter .secProdukter p{
  position: absolute;
  top: 30px;
  right: 40px;
  transform: rotateZ(20deg);
  font-size: 20px;
  transition: 0.3s;
}
.mainProdukter .secProdukter a{
  position: absolute;
  bottom: 50px;
  right: 10px;
  z-index: 10;
  text-decoration: none;
  font-size: 17px;
  color: black;
  padding: 10px;
  width: 85px;
  text-align: center;
  transform: rotateZ(-20deg);
  opacity: 0;
  transition: opacity 0.1s ease-in;
  transition: 0.3s;
}
.mainProdukter .secProdukter:hover{
  filter: brightness(100%);
}
.mainProdukter .secProdukter:hover a{
  opacity: 1;
}
.mainProdukter .secProdukter a:hover{
  opacity: 1;
  background-color: black;
  color: white;
  transform: scale(1.1);
}
.mainProdukter .secProdukter p:hover{
  transform: scale(1.3);

}
.mainProdukter .VenstreSec{
  grid-row: 1 / span 4;
}
.mainProdukter .VenstreSec #stickyBOX{
  position: relative;
  position: sticky;
  top: 58px;
  height:90.3vh;
}
.mainProdukter .VenstreSec #stickyBOX img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(106%);
}
.mainProdukter .VenstreSec #stickyBOX .transparentBOX{
  position: absolute;
  bottom: 21px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  opacity: 0.5;
  width: 234px;
  height: 50px;
  z-index: 10;
}
.mainProdukter .VenstreSec #stickyBOX a{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-decoration: none;
  color: black;
  padding: 15px;
  border: 2px solid black;
  width: 200px;
  text-align: center;
}
.mainProdukter .VenstreSec #stickyBOX a:hover{
  color: white;
  background-color: black;
}
/* CSS Til Produkter Main Slutt */

/* CSS Til Produkt Info Main Start */
.ProduktinfoMain{
  margin-left: 100px;
  margin-right: 100px;
}
.SecProduktInfo{
  display: grid;
  grid-template-columns: 2fr 3fr;
  border: 2px solid black;
  height: 90vh;
  margin-top: 80px;
}
.SecProduktInfo img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.SecProduktInfo .TilbakeKnapp{
  width: 110px;
  height: 35px;
  font-size: 18px;
  cursor: pointer;
}
/* CSS Til Produkt Info Main Slutt */

/* CSS Til OmOss Header Start */
  /* Forsidebilde OmOss Start */
.OmOss_ForsideBilde{
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.OmOss_ForsideBilde img{
  display: block;
  width: 100%;
  filter: brightness(90%);
}
.OmOss_ForsideBilde h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: white;
}
  /* Forsidebilde OmOss Slutt */
/* CSS Til OmOss Header Slutt */
/* CSS Til OmOss Main Start */
  /* OmOss-Tekst Start */
.OO_Tekst_Paragraf{
  column-count: 2;
  column-rule: 1px solid black;
  column-gap: 32px;
  background-image: linear-gradient(90deg, white, #FFFDF5);
  border: 2px solid black;
  padding-top: 20px;
  height: 576px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.OO_Tekst_Paragraf>p{
  line-height: 1.6;
  margin-bottom: 24px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
.Første_Paragraf{
  margin-top: 0px;
}
.OO_Tekst_Paragraf>p::first-letter{
  font-size: 48px;
  color: #100011;
  float: left;
  line-height: 1;
  padding-right: 8px;
}
  /* OmOss-Tekst Slutt */
  /* Anmeldelser Start */
.Anmeldelse_Sec{
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 2px solid black;
  border-radius: 50px 0px 50px 0px;
  text-align: center;
  margin-bottom: 20px;
  background-image: linear-gradient(90deg, white, #FFFDF5);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Anmeldelse_Sec .Anmeldelse_RightPart{
  border-left: 2px solid black;
}
.Anmeldelse_Sec .Anmeldelse_RightPart p{
  margin-left: 30px;
  margin-right: 30px;
}
  /* Anmeldelser Slutt */
/* CSS til OmOss Main Slutt */



/* Liste:
  - Underoverskrifter fungerer kun 2 ganger, ikke den siste?
  - Slider på forsidebilde er dårlig. Bruk js?
*/
