body{ /* må redigeres i Ps */
  margin: 0px;
  background-image: url(Pictures/background_Finished.jpg);
}

section> section{
  background-color:;
  font-family: inherit;
  border:;
}

#logo>h1{
  font-size: 30px;
  color: black;
  padding-left: 20px;
  font-family: helvetica, sans-serif;
  margin: 1px;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
}

.Menu{ /*Få menyen til å følge nedover*/
  display: grid;
  grid-template-columns: 2fr 5fr 2fr;
  background-color: white;
}

.Menu>section>ul{
  list-style-type:none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.Menu>section>ul li{
  display: inline;
}

.Menu>section>ul .button{
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.Menu>section>ul .button_h:hover{
  text-decoration: underline;
}

.dropbtn { /* mer skal ikke være en link */
    font-size: 20px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -30px;
}

.dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
  background-color: lightgrey;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.Front_Banner{
  display: grid;
  grid-template-columns: 1fr;
}

.Front_Banner>img{
  width: 1263px;
}

main{
  width: 1065px;
  margin-left: auto;
  margin-right: auto;
}

.HM_xMas{
  display: grid;
  grid-template-columns: 528.5px 264.25px 264.25px;
  margin-top: 30px;
  border: 2px solid yellow;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.HM_xMas>.xMas_Left{
  position: relative;
  border-right: 1px solid orange;
}

.HM_xMas>.xMas_Left>img{
  display: block;
  width: 528.5px;
}

.HM_xMas>.xMas_Left>.xMasBTN_sm{
  border: 2px solid black;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.HM_xMas>.xMas_Left>.xMasBTN_sm:hover{
  background-color: lightgrey;
}

.HM_xMas>.xMas_Mid{
  border-left: 1px solid yellow;
  border-right: 1px solid green;
}

.HM_xMas>.xMas_Mid>img{
  display: block;
  width: 264.25px;

}

.HM_xMas>.xMas_Right{
  position: relative;
  background-color: white;
  text-align: center;
  border-left: 1px solid blue;
}

.HM_xMas>.xMas_Right>.xMasBTN_buy{
  border: 2px solid black;
  background-color: white;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translate(-50%, -50%);
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.HM_xMas>.xMas_Right>.xMasBTN_buy:hover{
  background-color: lightgrey;
}

.xMas_timer_text{
  background-color: #ff8080;
  width: 100%;
  padding-top: 15px;
  margin-top: 0px;
}

#demo{
  font-size: 25px;
  font-weight: bold;
  background-color: #ff8080;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -20px;
  border-bottom: 2px solid black;
}

.HM_xMas>.xMas_Right>.xMas_info_text{
  padding-top: 10px;
}

.HeadLine{
  color: white;
  text-align: center;
}

.HM_Featured{ /*Null bakgrunn?*/
  display: grid;
  grid-template-columns: repeat(4, 251.25px);
  grid-gap: 20px;
  text-align: center;
}

.HM_Featured>section{
  position: relative;
}

.HM_Featured>section>img{
  width: 240px;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  cursor: pointer;
}

.HM_Featured>section>img:hover{
  width: 248px;
  margin-right: -4px;
  margin-left: -4px;
  margin-bottom: 0.084px;
}

.HM_Featured>section>img:hover + .new{
  margin-right: -4px;
  margin-top: 20px;
  font-size: 25px;
}

.HM_Featured>section>.new{
  background-color: red;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  position: absolute;
  top: -18px;
  right: 5.5px;
}

.HM_Featured>section>.info{
  color: white;
  text-align: center;
}

.HM_Featured>section>.Buy{
  border: 2px solid black;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.HM_Featured>section>.Buy:hover{
  background-color: lightgrey;
}

.HM_Categories{ /*forskjellige bredde på bildene??  -  mangler 2 bilder*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.HM_Categories> .span2{
  grid-column: span 2;
  border: 2px solid black;
}

.HM_Categories> .span3{
  grid-column: span 3;
  border: 2px solid black;
}

.HM_Categories>.span2>img{ /*legg til .span3 også i samme*/
  display: block;
}

.Reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.Reviews>section{
  background-color: white;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Reviews>section>img{
  width: 150px;
}

.Footer_ML{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #302C2C;
}

.Footer_ML> .Footer_ML_left{
  padding-left: 100px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.Footer_ML> .Footer_ML_left> h2{
  margin-bottom: -15px;
}

.Footer_ML>.Footer_ML_right{
  text-align: center;
  padding-right: 100px;
}

.Footer_ML>.Footer_ML_right>form>input{
  padding: 15px;
  margin-top: 30px;
  width: 290px;
}

.Footer_ML>.Footer_ML_right>form>button{
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -5px;
}

.Footer_FL{ /* gjør mindere */
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  margin-top: 0px;
}

.Footer_FL> .final_line_left{
  align-self: center;
  text-align: right;
}

.Footer_FL> .final_line_left>a{
  text-decoration: none;
  color: black;
}

.Footer_FL>.final_line_mid{
  font-size: 20px;
  text-align: center;
  align-self: center;
}

.Footer_FL>.final_line_right{
  text-align: left;
  align-self: center;
}

.AW_TopLine{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
  color: white;
  text-align: center;
}

.AW_dropbtn { /*fungerer ikke!*/
    font-size: 20px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.AW_dropdown {
    position: relative;
    display: inline-block;
    max-height: 0px;
}

/* Dropdown Content (Hidden by Default) */
.AW_dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -50px;
    margin-top: -22px;
}

.AW_dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.AW_dropdown-content a:hover{
  background-color: lightgrey;
}

/* Show the dropdown menu on hover */
.AW_dropdown:hover .AW_dropdown-content {
  display: block;
}

.AW_TopLine>section>h1{
  font-size: 30px;
}

.AW_All_Watches{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 30px;
  text-align: center;
}

.AW_All_Watches>section>img{
  width: 280px;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

.AW_All_Watches>section>img:hover{
  width: 290px;
  margin-bottom:-2.5px;
}

.AW_All_Watches>section>.AW_info{
  text-align: center;
  color: white;
}

.AW_All_Watches>section>.AW_Buy{
  border: 2px solid black;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.AW_All_Watches>section>.AW_Buy:hover{
  background-color: lightgrey;
}

.BS_Best_Sellers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
}

.BS_Best_Sellers>section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.BS_Best_Sellers>section>section>img{
  display: block;
  width: 200px;
}

.SO_Special_Offers{
  display: grid;
  grid-row-gap: 30px;
}

.SO_Special_Offers>section{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
