body{
  margin: 0px;
  max-width: 100%;
  overflow-x: hidden;
  background-image: url(Pictures/Background_Valg1.3.jpg); /*Fjern headline margin ved bruk av annen bakgrunn*/
}

section> section{
  background-color:;
  font-family: inherit;
  border:;
}

#logo>img{
  width: 220px;
  margin-left: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.Menu{
  display: grid;
  grid-template-columns: 2fr 5fr 0.5fr 0.3fr 1.2fr;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.Menu>section>ul{
  list-style-type:none;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.Menu>section>ul li{
  display: inline;
}

.Menu>section>ul .button{
  color: black;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 25px;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
}

.Menu>section>ul .button_h:hover{
  text-decoration: underline;
}

.dropbtn {
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 999;
    margin-left: -30px;
    margin-top: -20px;
}

.dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.Menu_Salg_text{
  align-self: center;
  text-align: right;
  font-size: 20px;
}

.Menu_Salg_bilde>img{
  width: 40px;
  display: block;
  margin-top: 28px;
  margin-left: 30px;
}

.Menu_Salg_timer{
  align-self: center;
  text-align: center;
  font-size: 20px;
  margin-left: -5px;
}

.Front_Banner{
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 74px;
}

.Front_Banner>img{
  width: 1263px;
}

main{
  width: 1065px;
  margin-left: auto;
  margin-right: auto;
}

.HeadLine{
  color: white;
  text-align: center;
}

.HM_xMas{
  display: grid;
  grid-template-columns: 529px 268px 264px;
  margin-top: 30px;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.HM_xMas>.xMas_Left>img{
  display: block;
}

.HM_xMas>.xMas_Mid{
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.HM_xMas>.xMas_Mid>img{
  display: block;
}

.HM_xMas>.xMas_Right{
  position: relative;
  background-color: white;
  text-align: center;
}

.HM_xMas>.xMas_Right>.xMasBTN_buy, .xMasBTN_sm{
  border: 2px solid black;
  background-color: white;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.HM_xMas>.xMas_Right>.xMasBTN_buy{
  position: absolute;
    left: 67px;
    bottom: -5px;
    transform: translate(-50%, -50%);
}

.HM_xMas>.xMas_Right>.xMasBTN_sm{
  position: absolute;
    right: -38px;
    bottom: -5px;
    transform: translate(-50%, -50%);
}

.HM_xMas>.xMas_Right>.xMasBTN_buy:hover,.xMasBTN_sm:hover{
  background-color: lightgrey;
}

.xMas_timer_text{
  background-color: #ff8080;
  width: 100%;
  padding-top: 15px;
  margin-top: 0px;
}

#demo{
  font-size: 25px;
  font-weight: bold;
  background-color: #ff8080;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-top: -20px;
  border-bottom: 2px solid black;
}

.HM_xMas>.xMas_Right>.xMas_info_text{
  padding-top: 10px;
}

.HM_Featured{
  display: grid;
  grid-template-columns: repeat(4, 251.25px);
  grid-gap: 20px;
  text-align: center;
}

.HM_Featured>section{
  position: relative;
}

.HM_Featured>section>img{
  width: 240px;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  cursor: pointer;
}

.HM_Featured>section>img:hover{
  width: 248px;
  margin-right: -4px;
  margin-left: -4px;
  margin-bottom: 0.084px;
}

.HM_Featured>section>img:hover + .new{
  margin-right: -4px;
  margin-top: 20px;
  font-size: 25px;
}

.HM_Featured>section>.new{
  background-color: red;
  color: white;
  font-size: 20px;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  position: absolute;
  top: -18px;
  right: 5.5px;
}

.HM_Featured>section>.info{
  text-align: center;
  color: white;
}

.HM_Featured>section>.Buy{
  border: 2px solid black;
  width: 240px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  cursor: pointer;
}

.HM_Featured>section>.Buy:hover{
  background-color: lightgrey;
}

.HM_Categories{ /*forskjellige bredde på bildene??  -  mangler 2 bilder*/
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}

.HM_Categories> .span2{
  grid-column: span 2;
  border: 2px solid black;
}

.HM_Categories> .span3{
  grid-column: span 3;
  border: 2px solid black;
}

.HM_Categories>.span2>img{ /*legg til .span3 også i samme*/
  display: block;
}

.Reviews{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

.Reviews>section{
  background-color: white;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.Reviews>section>img{
  width: 150px;
}

.Footer_ML{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #302C2C;
}

.Footer_Top>img{
  width: 1263px;
  margin-bottom: -30px;
}

.Footer_ML> .Footer_ML_left{
  padding-left: 100px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.Footer_ML> .Footer_ML_left> h2{
  margin-bottom: -15px;
}

.Footer_ML>.Footer_ML_right{
  text-align: center;
  padding-right: 100px;
}

.Footer_ML>.Footer_ML_right>form>input{
  padding: 15px;
  margin-top: 30px;
  width: 290px;
}

.Footer_ML>.Footer_ML_right>form>button{
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: -5px;
}

.Footer_FL{ /* gjør mindere */
  background-color: white;
  display: grid;
  grid-template-columns: 5fr 1fr 5fr;
  margin-top: 0px;
}

.Footer_FL> .final_line_left{
  align-self: center;
  text-align: right;
}

.Footer_FL> .final_line_left>a{
  text-decoration: none;
  color: black;
}

.Footer_FL>.final_line_mid{
  font-size: 20px;
  text-align: center;
  align-self: center;
}

.Footer_FL>.final_line_right{
  text-align: left;
  align-self: center;
}

.AW_TopLine{
  display: grid;
  grid-template-columns: 100px 1fr 1fr 1fr 100px;
  margin-left: -100px;
  margin-right: -100px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
}

.AW_TopLine>section{
  text-align: center;
  align-self: center;
}

.AW_dropdown {
    position: relative;
    display: inline-block;
}

.AW_dropbtn>p{
    font-size: 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 12px;
    cursor: default;
}

.AW_dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 89px;
    margin-top: -20px;

}

.AW_dropdown-content a {
    color: black;
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.AW_dropdown-content a:hover{
  background-color: lightgrey;
}

.AW_dropdown:hover .AW_dropdown-content {
  display: block;
}


.AW_TopLine>section>h1{
  font-size: 30px;
}

.AW_TopLine>section>form>input{
  padding: 15px;
  width: 130px;
}

.AW_TopLine>section>form>button{
  padding: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: -5px;
  cursor: pointer;
}

.AW_All_Watches{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-row-gap: 30px;
  text-align: center;
}

.AW_All_Watches>section{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

.AW_All_Watches>section>.AW_img{
  min-height: 370px;
}

.AW_All_Watches>section>.AW_img>img{
  width: 284px;
  border: 2px solid black;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.AW_All_Watches>section>.AW_img>img:hover{
  width: 290px;
}

.AW_All_Watches>section>.AW_imgtext>.AW_info{
  text-align: center;
  background-color: #ffffff;
  opacity: 0.6;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 2px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.AW_All_Watches>section>.AW_imgtext>.AW_Buy{
  border: 2px solid black;
  padding: 15px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.AW_All_Watches>section>.AW_imgtext>.AW_Buy:hover{
  background-color: lightgrey;
}

.BS_Best_Sellers{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  grid-row-gap: 30px;
  text-align: center;
}

.BS_Best_Sellers>section{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.BS_Best_Sellers>section>section>img{
  display: block;
  width: 200px;
}

.SO_Special_Offers{
  display: grid;
  grid-row-gap: 30px;
}

.SO_Special_Offers>section{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}
