body{
  padding: 0px;
  margin: 0px;
}
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
header{
  height: 100vh;
  position: relative;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  background-image: url(Bilder/Background.png);
}
header h1{
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  color: white;
  font-size: 50px;
  margin: 0px;
}
.container{
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
header .container section{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(50% 0%, 97% 25%, 97% 75%, 50% 100%, 3% 75%, 3% 25%);
  clip-path: polygon(50% 0%, 97% 25%, 97% 75%, 50% 100%, 3% 75%, 3% 25%);
  min-height: 300px;
  min-width: 300px;
  background-image: url(Bilder/Profile_Icon.png);
  background-size: 360px;
  background-position: center;
  z-index: 1;
}
header section h1{
  text-align: center;
}
main{
  padding-top: 30px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.prosjekter{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 150px;
  margin-right: 150px;
}
.prosjekter div{
  min-width: 300px;
  max-width: 300px;
  min-height: 300px;
  filter: drop-shadow(-1px 6px 3px rgba(50, 50, 0, 0.5));
}
.prosjekter div section{
  position: relative;
  -webkit-clip-path: polygon(50% 0%, 97% 25%, 97% 75%, 50% 100%, 3% 75%, 3% 25%);
  clip-path: polygon(50% 0%, 97% 25%, 97% 75%, 50% 100%, 3% 75%, 3% 25%);
  min-height: 300px;
  min-width: 300px;
  max-width: 300px;
  background-color: black;
  transition: all 1s ease-out;
}
.prosjekter div:nth-child(2) section{
  background-image: url(Bilder/Profile_Icon.png);
  background-size: 360px;
  background-position: center;
}
.prosjekter div:nth-child(n+4){
  transform: translate(calc(50% + 12px), -50px);
}
.prosjekter div:not(:nth-child(2)):hover section{
  transform: rotateX(180deg);
  background-color: white;
}
.prosjekter div section img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: calc(100% - 100px);
  object-fit: cover;
  z-index: 0;
  transition: .5s;
}
.prosjekter div:hover section img{
  opacity: 0;
}
.prosjekter div:not(:nth-child(2)) section a{
  visibility: hidden;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  width: 100px;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  transition-delay: 0.3s;
}
.prosjekter div:hover section a{
  visibility: visible;
}
.prosjekter div section a:hover{
  transform: translateX(-50%) rotateX(180deg) scale(1.1);
}
.prosjekter div section h1{
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) rotateX(180deg);
  transition-delay: 0.4s;
  width: 300px;
  text-align: center;
  visibility: hidden;
}
.prosjekter div:not(:nth-child(2)):hover section h1{
  visibility: visible;
}
footer{
  margin-top: 50px;
}
footer .Kontakt{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 100px;
  margin-right: 100px;
}
footer .Kontakt section{
  min-height: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.Melding{
  margin-top: 70px;
	margin-right: 250px;
  margin-left: 250px;
	box-sizing: border-box;
  position: relative;
  height: 550px;
}
.Melding .border{
  position: absolute;
  top: 0px;
  left: -2.5px;
  width: calc(100% + 5px);
  height: 500px;
  transform: rotateZ(2deg);
  background-color: black;
  z-index: 0;
  filter: blur(2px);
}
form{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
	box-sizing: border-box;
  z-index: 1;
  background-color: white;
}
form h1{
  text-align: center;
}
form .row{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
  text-align: center;
}
form .row .col-2{
	width: calc(50% - 40px);
	box-sizing: border-box;
	margin-bottom: 30px;
}
form .row .col-2:nth-child(odd){
	margin-right: 10px;
  margin-left: 30px;
}
form .row .col-2:nth-child(even){
	margin-left: 10px;
  margin-right: 20px;
}
form .row .col-1{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.Melding label{
	display: block;
	font-size: 18px;
	margin-bottom: 5px;
	font-weight: bold;
}
.Melding input.text, .contact textarea{
	width: 100%;
	border: 2px solid #000;
	padding: 10px;
	outline: none;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 18px;
	font-family: consolas;
  resize: none;
}
.Melding textarea{
  margin-left: 30px;
  margin-right: 30px;
	width: calc(100% - 70px);
  height: 100px;
}
.Melding input[type="submit"]{
	border: 2px solid #000;
	padding: 10px;
	font-size: 18px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 18px;
	font-family: consolas;
	outline: none;
	cursor: pointer;
	background: #000;
	color: #fff;
}
